.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/landing.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 1400px;
    height: 636px;

}
.logo img{
display: block;
margin: auto;


}
.header {
  font-size: 40px;
  font-family: 'Ovo', serif;
  text-align: center;

}
.fast-food {
  border: 3px white;
  padding: 30px;
  margin; 30px;
  width;
  text-align: left;
  float: left;
  }
#food-img {
  border: 6px white;
  padding: 2px;
  align: left;
  margin-right:auto;
  float: left;
  box-shadow: 5px 5px 5px 5px #ccc;
  width: 50%;
}




#text1 {
  float: right;
  width: 45%;
  text-align: left;
}

}
#drink {
  border: 3px white;
  padding: px;
  margin; 30px;
  width:;
  text-align: right;
  float: left;
}

.gallery {
  color:#F15A29;
}

#party-time {
  background-color:#F15A29;
}

#happy-hour {
  background-color:white:
}

.fast-food {
  border: ;
  padding: ;
  margin; 30px;
  width:;
  text-align: right;
  float:left;
}

#text2 {
  float: left;
  text-align: right;
}
#drinks {
  float: right;
  border: 2px white;
  padding: 2px;
  box-shadow: 5px 5px 5px 5px #ccc;
}

.food-box {
  background-image: url(../img/foodsBg.jpg);
  height: 599px;
}
li {
  display: inline-block;
  margin: auto;
}

.text-box {
  background-color:;
  border: ;
  padding:15%;
}
ul {
  background-color: white;
  padding: 2%;
}
#happy {
  text-align: middle;
}
h3 {
  color: #F15A29;
}
.text-box {
  box-shadow: 2px 2px 2px 2px #ccc;
}
.email {
  background-image: url(../img/subscribe.jpg);
  height: 301px;
}
.footer {
  background-color: #F15A29;
  height: 301px;
}
#burger {
  float: center;
}
